@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


body {
    font-family: "Barlow", sans-serif;
    background-color:aliceblue;
}

.keyboard1  {
    font-size: 22px;
    background-color:rgb(255, 254, 252); 
}

.row {
    display: block;
}

.nameKey {
    text-align: center;
}

h1 {
    text-shadow: 1px 1px 2px rgb(2, 30, 247);
}

textarea {
    width: 90%;
    height: 200px;
    font-size: 20px;
    background-color: #d6edfb;
    color:black;
    border: 2px solid rgb(52, 68, 244);
    border-radius: 20px;
    margin-bottom: 2px;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard2{
    width: auto;
    text-align: center;
}

.keyboard {
    font-size: 20px;
    color: rgb(154, 204, 251);
}

button {
    cursor: pointer;
    border: 1px solid #333533;
    outline: none;
    background: #242423;
    border-radius: 5px;
    margin: 0.3px;
}

button:hover{
    color:rgb(255, 255, 0)
}

button:focus {
    color: yellow;
}

.space{
    width: 300px;
}

